<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de asistencia de asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Programacion Movil PGY-4024</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
    Registro de asistencia
    </ion-card-content>
    <ion-button fill="clear" href="/assistancestudent"><ion-icon size="large" slot="start" ios="book" md="book"></ion-icon>Usar boton</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Programacion de escritorio PGY-2024</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
    Registro de asistencia
    </ion-card-content>
    <ion-button fill="clear" href="/assistancestudent1"><ion-icon size="large" slot="start" ios="book" md="book"></ion-icon>Usar boton</ion-button>
  </ion-card>
  
  <div class="button-container">
    <ion-button expand="block" href="/tabs/tab3">Volver al menú</ion-button>
  </div>


</ion-content>
