<ion-content class="ion-padding">
  <div class="page-container">
    <h1 class="page-title">Registro de asistencia de asignaturas</h1>

    <ng-container *ngIf="isLoading; else content">
      <div class="skeleton-container" *ngFor="let item of [1, 2]">
        <div class="skeleton-card">
          <div class="skeleton-header"></div>
          <div class="skeleton-content"></div>
          <div class="skeleton-button"></div>
        </div>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="sections-list">
        <ion-item *ngFor="let section of sections" lines="none" class="section-item">
          <ion-label>
            <h2>{{section.section.asignature.name}} - {{section.section.asignature.code}}</h2>
            <p>Registro de asistencia</p>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="gotoAsistance(section.section.id)">
            <ion-icon slot="icon-only" name="book-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ng-template>

    <div class="button-container">
      <ion-button expand="block" routerLink="/tabs/tab3" class="back-button">
        Volver al menú
      </ion-button>
    </div>
  </div>
</ion-content>
