<ion-header [translucent]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Escanea el qr aqui</ion-card-subtitle>
      <ion-card-title>Escanea para tu asistencia</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-img
      src="https://i.gyazo.com/0397b918c923efc35b5529100a37aa10.png"
    ></ion-img>
    <div class="button-container">
      <ion-button expand="block" href="/assistancegeneratespec"
        >Volver al menú</ion-button
      >
    </div>
  </ion-card-content>
</ion-content>
