<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia a clases</ion-card-title>
      <ion-card-subtitle>Programación de escritorio - Clase 1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
          <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 1</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="end" checked="false" disabled="true">Estudiante 2</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 3</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="end" disabled="true">Estudiante 4</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="end" disabled="true">Estudiante 5</ion-checkbox>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia a clases</ion-card-title>
      <ion-card-subtitle>Programación de escritorio - Clase 2</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 1</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="false" disabled="true">Estudiante 2</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 3</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" disabled="true">Estudiante 4</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" disabled="true">Estudiante 5</ion-checkbox>
      </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia a clases</ion-card-title>
      <ion-card-subtitle>Programación de escritorio - Clase 3</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 1</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 2</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 3</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 4</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 5</ion-checkbox>
      </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia a clases</ion-card-title>
      <ion-card-subtitle>Programación de escritorio - Clase 4</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 1</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="false" disabled="true">Estudiante 2</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 3</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true" >Estudiante 4</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Estudiante 5</ion-checkbox>
      </ion-item>
      
  </ion-card-content>
  </ion-card>
  <div class="button-container">
    <ion-button expand="block" href="/assistanceprof">Volver al menú</ion-button>
  </div>
</ion-content>
