<ion-content class="ion-padding">
  <div class="menu-container">
    <h1 *ngIf="profile.name && profile.last_name" class="page-title">
      Bienvenido {{profile.name}} {{profile.last_name}}
    </h1>

    <div class="menu-items">
      <ion-item
        button
        detail="true"
        routerLink="/assistanceprof"
        lines="none"
        class="menu-item"
      >
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>
          <h2>Registro de asistencia</h2>
          <p>Verifica el registro de asistencia a clases</p>
        </ion-label>
      </ion-item>

      <ion-item
        button
        detail="true"
        routerLink="/assistancegeneratespec"
        lines="none"
        class="menu-item"
      >
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        <ion-label>
          <h2>Generar código QR</h2>
          <p>Genera el código para registrar la asistencia</p>
        </ion-label>
      </ion-item>

      <ion-item
        button
        detail="true"
        routerLink="/adminpanel"
        lines="none"
        class="menu-item"
      >
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>
          <h2>Panel de Administración</h2>
          <p>Gestiona la aplicación</p>
        </ion-label>
      </ion-item>
    </div>

    <div class="signout-button-container">
      <ion-button (click)="signout()" class="signout-button" shape="round">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
