<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">Menu Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu Docente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Verifica el registro de asistencia a clases en este menú.
    </ion-card-content>
    <ion-button fill="clear" href="/assistanceprof"
      ><ion-icon size="large" slot="start" ios="book" md="book"></ion-icon>Usar
      boton</ion-button
    >
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Genera el codigo qr para registrar la asistencia.</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Usa la camara para registrar tu asistencia a clases.
    </ion-card-content>
    <ion-button fill="clear" href="/assistancegeneratespec"
      ><ion-icon size="large" slot="start" ios="camera" md="camera"></ion-icon
      >Usar boton</ion-button
    >
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Panel de Administración</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Accede al panel de administración para gestionar la aplicación.
    </ion-card-content>
    <ion-button fill="clear" href="/adminpanel">
      <ion-icon size="large" slot="start" ios="settings" md="settings"></ion-icon>
      Usar boton
    </ion-button>
  </ion-card>
</ion-content>
<ion-button (click)="signout()">
  <ion-icon size="large" slot="start" ios="log-out" md="log-out"></ion-icon>
  Cerrar Sesión
</ion-button>