<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1>
            Bienvenido a <br /><span class="secondary-text">Duoc UC</span>
            Asistencia
          </h1>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Inicio de sesión
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input
                label="Ingresa tu correo"
                labelPlacement="floating"
                formControlName="email"
                type="email"
                placeholder="correoejemplo@duocuc.cl"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="(email.dirty || email.touched) && email.errors"
            >
              <small *ngIf="email.errors?.['required']"
                >El correo electrónico es requerido</small
              >
              <small *ngIf="email.errors?.['email']"
                >Ingrese un correo electrónico válido</small
              >
            </ion-text>

            <ion-item>
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-input
                label="Ingresa tu contraseña"
                labelPlacement="floating"
                formControlName="password"
                type="password"
                placeholder="********"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="(password.dirty || password.touched) && password.errors"
            >
              <small *ngIf="password.errors?.['required']"
                >La contraseña es requerida</small
              >
              <small *ngIf="password.errors?.['minlength']"
                >La contraseña debe tener al menos 6 caracteres</small
              >
            </ion-text>
          </ion-list>

          <div class="ion-padding">
            <ion-button
              expand="block"
              type="submit"
              [disabled]="!credentials.valid"
              id="present-alert"
              class="login-button"
            >
              Iniciar Sesión
            </ion-button>
            <ion-button
              expand="block"
              fill="clear"
              routerLink="/register"
              class="register-button"
            >
              Registrarse
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
