.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

ion-card-header {
  background-color: #0054e9;
  color: #ffffff;
  padding: 20px;
}

ion-card-title h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.secondary-text {
  color: #ffb800;
}

ion-card-subtitle {
  font-size: 16px;
  opacity: 0.8;
  color: #ffffff;
}

ion-list {
  padding: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-color: #d7d8da;
}

ion-input {
  --padding-start: 12px;
  --placeholder-color: #999;
  --placeholder-opacity: 0.8;
}

ion-icon {
  color: #0054e9;
  margin-right: 8px;
}

ion-text {
  display: block;
  margin-left: 16px;
  margin-top: -8px;
  margin-bottom: 12px;
}

.login-button {
  background-color: #ffb800;
  color: #ffffff;
  margin-top: 16px;
  font-weight: bold;
}

.register-button {
  color: #0054e9;
  margin-top: 8px;
  font-weight: bold;
}

ion-button {
  --border-radius: 8px;
}
