<ion-content class="ion-padding">
  <div class="menu-container">
    <h1 class="page-title">
      Bienvenido {{profile.name}} {{profile.last_name}}
    </h1>

    <div class="menu-items">
      <ion-item
        button
        detail="true"
        routerLink="/assistanceregistrystu"
        lines="none"
        class="menu-item"
      >
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>
          <h2>Registro de asistencia</h2>
          <p>Verifica tu registro de asistencia a clases en este menú.</p>
        </ion-label>
      </ion-item>

      <ion-item
        button
        detail="true"
        routerLink="/assistancescanqr"
        lines="none"
        class="menu-item"
      >
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        <ion-label>
          <h2>Escanea el codigo qr para registrar la asistencia.</h2>
          <p>Usa tu camara para registrar tu asistencia a clases.</p>
        </ion-label>
      </ion-item>
    </div>

    <div class="signout-button-container">
      <ion-button (click)="signout()" class="signout-button" shape="round">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
