<ion-header [translucent]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia a clases Programacion movil PGY-4024</ion-card-title>
      <ion-card-subtitle>Estudiante 1</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Clase 1</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="false" disabled="true">Clase 2</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" checked="true" disabled="true">Clase 3</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" disabled="true">Clase 4</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end" disabled="true">Clase 5</ion-checkbox>
      </ion-item>
      <div class="button-container">
        <ion-button expand="block" href="/assistanceregistrystu">Volver al menú</ion-button>
      </div>
    
    </ion-card-content>
  </ion-card>
  
</ion-header>
