<ion-content class="ion-padding">
  <div class="page-container">
    <ng-container *ngIf="isLoading; else content">
      <div class="skeleton-card">
        <div class="skeleton-header">
          <div class="skeleton-title"></div>
          <div class="skeleton-subtitle"></div>
        </div>
        <div class="skeleton-content">
          <div class="skeleton-item" *ngFor="let item of [1,2,3,4,5]">
            <div class="skeleton-checkbox"></div>
            <div class="skeleton-text"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="attendance-card">
        <h1 class="card-title">
          Asistencia a clases {{clases[0].class.section.asignature.name}}
          {{clases[0].class.section.asignature.code}} -
          {{clases[0].class.section.number}}
        </h1>
        <div class="attendance-list">
          <div class="attendance-item" *ngFor="let clase of clases">
            <div class="attendance-checkbox">
              <ion-checkbox [checked]="clase.is_present" disabled="true"></ion-checkbox>
              <span class="class-info">Clase {{clase.index}} [{{clase.class.date}}]</span>
            </div>
            <div class="attendance-status">
              <span [ngClass]="{'present': clase.is_present, 'absent': !clase.is_present}">
                {{clase.is_present ? 'Presente' : 'Ausente'}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="button-container">
      <ion-button
        expand="block"
        routerLink="/assistanceregistrystu"
        class="back-button"
      >
        Volver al menú
      </ion-button>
    </div>
  </div>
</ion-content>
