<ion-header [translucent]="true"> </ion-header>

<ion-content>
  <!-- Conditional rendering based on loading state -->
  <ng-container *ngIf="isLoading; else content">
    <!-- Skeleton cards for loading state -->
    <ion-card *ngFor="let item of [1, 2, 3, 4]">
      <!-- Placeholder for four classes -->
      <ion-card-header>
        <ion-skeleton-text
          animated
          style="width: 100%; height: 20px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          animated
          style="width: 60%; height: 15px"
        ></ion-skeleton-text>
      </ion-card-header>
    </ion-card>

  </ng-container>

  <ng-template #content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{asistance.asignature.name}} - {{asistance.asignature.code}}</ion-card-title>
        <ion-card-subtitle
          >{{asistance.class.date}}</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>

    <ion-card *ngFor="let clase of asistance.class">
      <ion-card-header>
        <ion-card-title>Clase - {{clase.date}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let assistance of clase.asistance">
            <ion-label>{{assistance.student.name}} {{assistance.student.last_name}}</ion-label>
            <ion-checkbox
              slot="end"
              disabled=""
              [checked]="assistance.is_present"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div class="button-container">
    <ion-button expand="block" href="/assistanceprof"
      >Volver al menú</ion-button
    >
  </div>
</ion-content>
