<ion-content class="ion-padding">
  <div class="page-container">
    <ng-container *ngIf="isLoading; else content">
      <div class="skeleton-container" *ngFor="let item of [1, 2, 3, 4]">
        <div class="skeleton-card">
          <div class="skeleton-header"></div>
          <div class="skeleton-subheader"></div>
          <div class="skeleton-item" *ngFor="let i of [1, 2, 3]">
            <div class="skeleton-text"></div>
            <div class="skeleton-checkbox"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="course-header">
        <h1>{{asistance.asignature.name}} - {{asistance.asignature.code}}</h1>
      </div>

      <div class="class-list">
        <div *ngFor="let clase of asistance.class" class="class-card">
          <h2>Clase {{clase.index}} [{{clase.date}}]</h2>
          <ul *ngIf="clase.asistance.length > 0" class="attendance-list">
            <li
              *ngFor="let assistance of clase.asistance"
              class="attendance-item"
            >
              <div class="student-info">
                <p>
                  <strong>Nombre:</strong> {{assistance.student.name}}
                  {{assistance.student.last_name}}
                </p>
                <p><strong>Rut:</strong> {{assistance.student.rut}}</p>
                <p><strong>Correo:</strong> {{assistance.student.email}}</p>
              </div>
              <div class="attendance-status">
                <span
                  [class.present]="assistance.is_present"
                  [class.absent]="!assistance.is_present"
                >
                  {{assistance.is_present ? 'Presente' : 'Ausente'}}
                </span>
                <ion-checkbox
                  disabled
                  [checked]="assistance.is_present"
                ></ion-checkbox>
              </div>
            </li>
          </ul>
          <div *ngIf="clase.asistance.length === 0" class="no-students">
            No hay estudiantes registrados en esta clase.
          </div>
        </div>
      </div>
    </ng-template>

    <div class="button-container">
      <ion-button
        expand="block"
        routerLink="/assistanceprof"
        class="back-button"
      >
        Volver al menú
      </ion-button>
    </div>
  </div>
</ion-content>
