<ion-content class="ion-padding">
  <div class="page-container">
    <ng-container *ngIf="isLoading; else content">
      <div class="skeleton-container" *ngFor="let item of [1, 2, 3, 4]">
        <div class="skeleton-card">
          <div class="skeleton-header"></div>
          <div class="skeleton-subheader"></div>
        </div>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="course-header">
        <h1>{{asistance.asignature.name}} - {{asistance.asignature.code}}</h1>
      </div>

      <div class="class-list">
        <div *ngFor="let clase of asistance.class" class="class-card">
          <h2>Clase - {{clase.date}}</h2>
          <ul class="attendance-list">
            <li
              *ngFor="let assistance of clase.asistance"
              class="attendance-item"
            >
              <span
                >{{assistance.student.name}}
                {{assistance.student.last_name}}</span
              >
              <ion-checkbox
                disabled
                [checked]="assistance.is_present"
              ></ion-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>

    <div class="button-container">
      <ion-button
        expand="block"
        routerLink="/assistanceprof"
        class="back-button"
      >
        Volver al menú
      </ion-button>
    </div>
  </div>
</ion-content>
