<ion-header [translucent]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Escanea el qr aqui</ion-card-subtitle>
      <ion-card-title>Escanea para tu asistencia</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-button class="submit" expand="block" (click)="startScan()">Escanear</ion-button>
    <div class="button-container">
      <ion-button expand="block" href="/tabs/tab3">Volver al menú</ion-button>
    </div>
  </ion-card-content>

  <!---============  SCAN RESULT ===========-->
  <ion-item class="result" *ngIf="scanResult" lines="none">
   <ion-label>
   <p>
    Scan Result
   </p>
   <div>
    {{scanResult}}
   </div>
  </ion-label>
    </ion-item>
</ion-content>


