<ion-content class="ion-padding">
  <div class="registration-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1>Bienvenido a <br><span class="primary-text">Duoc UC</span> Asistencia</h1>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Registro de Usuario
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
          <ion-list>
            <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input label="Nombre" labelPlacement="floating" formControlName="name" placeholder="Juan"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="name.touched && name.errors">
              <small *ngIf="name.errors?.['required']">El nombre es requerido</small>
              <small *ngIf="name.errors?.['minlength']">El nombre debe tener al menos 2 caracteres</small>
            </ion-text>

            <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input label="Apellido" labelPlacement="floating" formControlName="last_name" placeholder="Pérez"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="last_name.touched && last_name.errors">
              <small *ngIf="last_name.errors?.['required']">El apellido es requerido</small>
              <small *ngIf="last_name.errors?.['minlength']">El apellido debe tener al menos 2 caracteres</small>
            </ion-text>

            <ion-item>
              <ion-icon name="card-outline" slot="start"></ion-icon>
              <ion-input label="RUT" labelPlacement="floating" formControlName="rut" placeholder="12345678-9"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="rut.touched && rut.errors">
              <small *ngIf="rut.errors?.['required']">El RUT es requerido</small>
              <small *ngIf="rut.errors?.['pattern']">El formato del RUT debe ser XXXXXXXX-X</small>
            </ion-text>

            <ion-item>
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input label="Correo electrónico" labelPlacement="floating" formControlName="email" type="email" placeholder="correo@duocuc.cl"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="email.touched && email.errors">
              <small *ngIf="email.errors?.['required']">El correo electrónico es requerido</small>
              <small *ngIf="email.errors?.['email']">El correo electrónico no es válido</small>
            </ion-text>

            <ion-item>
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-input label="Contraseña" labelPlacement="floating" formControlName="password" type="password" placeholder="********"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="password.touched && password.errors">
              <small *ngIf="password.errors?.['required']">La contraseña es requerida</small>
              <small *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</small>
            </ion-text>
          </ion-list>

          <div class="ion-padding">
            <ion-button expand="block" type="submit" [disabled]="!registrationForm.valid">
              Registrarse
            </ion-button>
            <ion-button expand="block" fill="clear" routerLink="/tabs/tab1">
              ¿Ya tienes una cuenta? Iniciar Sesión
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

